body {
    margin: 0;
    font-family: "Press Start 2P", serif;
}

p {
    margin: 0;
}

.rootDiv {
    width: 100vw;
    height: 100vh;
    background: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    align-items: center;
}

    #game-container {
        grid-area: 1/2;
        width: 580px;
        height: 620px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }   
        
        #info-div {
            height: 15%;
            width: 100%;
            top: -15%;
            position: absolute;
            display: flex;
            color: #cfcfcf;
            font-weight: bolder;
        }   

            #level-text { 
                position: absolute;
                top: 20px;
                left: 0;
            }

            #points-text {
                position: absolute;
                bottom: 15px;
            }

            #lives-canvas {
                position: absolute;
                right: 0;
                bottom: 0;
            }

        #game-end-div {
            height: 140px;
            width: 300px;
            background: black;
            border: 5px solid grey;
            border-radius: 5px;
            
            position: absolute;
            z-index: 100;
            top: 40%;
            
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }

            #game-end-div-text {
                color: yellow;
            }

            #game-end-div-points {
                color: #cfcfcf;
            }

            #restart-game-btn {
                color: #cfcfcf;
                cursor: pointer;
                border: 1px solid grey;
                border-radius: 5px;
                background: black;
                padding: 0.5em 1em;
                font-family: inherit;
            }

        .mapCanvas, .pointsCanvas, .ghostCanvas {
            position: absolute;
        }

