body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.rootDiv {
    width: 100vw;
    min-height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .gameContainer {
        display: flex;
        flex-direction: column;
    }

    #points-text {
        color: white;
        position: absolute;
        bottom: 0;
        left: 5%;
        font-weight: bolder;
    }

    #game-end-div {
        color: yellow;
        position: absolute;
        background: black;
        height: 100px;
        width: 300px;
        display: none;;
        align-items: center;
        justify-content: center;
        border: 5px solid grey;
        border-radius: 5px;
    }

        #game-end-div > p {
            margin: 0;
            color: yellow;
        }